:root {
  --swiper-theme-color: #ffba08 !important;
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 16px)
  ) !important;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 16px)
  ) !important;

  background: var(
    --swiper-pagination-bullet-inactive-color,
    #999999
  ) !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.4) !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1) !important;
  background: var(--swiper-pagination-color,var(--swiper-theme-color)) !important;
}